.card{
    background-color: var(--secondary-color);
   
    
}

input[type=text], input[type=email]{
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 80%;
}
.btn-sub{
    height: 58px;
    padding: 0px 20px;
    border: none;
    font-size: 13px;
    color: white;
    background-color: var(--primary-color);
}

.subs-text{
    width:500px
} 
