<main>
    <div class="container">
        <div class="bg">
            <img src="../../../assets/young-freelancer-boy-with-working-laptop-personal-home-desk-working-from-home_824539-252.jpg" alt="">
          </div>
       
        <div class="form">
         <div class="info">
            <img src="../../../assets/gmail.jpeg" alt="gmail">
            <h2>Contact Me</h2>
            <h3>We would love</h3><h3> to hear form </h3><h3>you!</h3>
         </div>

         <div class="frm">
            <form action="back.php" method="post" target="_blank">
                <label for="text">First Name: </label><br>
                <input type="text" placeholder="Enter First Name"><br><br>
                <label for="text">Last Name: </label><br>
                <input type="text" placeholder="Enter Last Name"><br><br>  <label for="text">Email: </label><br>
                <input type="text" placeholder="Enter Email"><br><br>
                <label for="text">Comment:</label>
                <input type="textarea"> <br><br>

                <button>SUBMIT</button>
                <button routerLink="/">Back to Home</button>
            </form>
         </div>

        </div>
       
    </div>
</main>
